ul {
	max-height: 100px;
	width: 260px;
	overflow: scroll;
	overflow-x: hidden;
	margin: 0;
	position: absolute;
	top: 100%;
	left: 50%; /* Move the ul to the center horizontally */
	transform: translateX(-38%);
	z-index: 1;
	background-color: #b3ecec;
	padding: 0;
}

li {
	list-style-type: none;
}
